.boardBlockContainer {
    position: relative;
    background-color: var(--lightBG);
    border-radius: 5px;
    color: #FFFFFF;
    margin: 10px;
    display: inline-block;
    min-height: 160px;
    width: calc(100% / var(--numOfBlocks) - 20px);
    cursor: pointer;
    vertical-align: top;
}
.boardBlock {
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.boardBlockVersion {
    font-size: 10px;
    line-height: 1em;
    font-weight: 800;
    color: #000000;
    background-color: #f9f9f9;
    padding: 4px;
    border-radius: 4px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.boardBlockImg {
    display: block;
    width: 100%;
    object-fit: cover;
    background-color: var(--darkBG);
}
.buttonContainer {
    display: block;
    position: absolute;
    bottom: var(--buttonMargin);
    right: var(--buttonMargin);
}
.button {
    display: inline-block;
    background-color: var(--buttonBackground);
    border-radius: calc(var(--buttonSize) / 2);
    color: #f9f9f9;
    text-align: center;
    width: var(--buttonSize);
    height: var(--buttonSize);
    font-size: calc(var(--buttonSize));
    font-weight: 100;
    line-height: 0.9em;
    font-weight: 500;
    cursor: pointer;
}
.blockZone {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    display: block;
}
.notificationBell {
    display: inline-block;
    position: relative;
    width: 24px;
    cursor: pointer;
    vertical-align: middle;
}