.boardBlockContainer {
    position: relative;
    background-color: var(--lightBG);
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
    width: calc((100vw / var(--numOfBlocks)) - 20px - (20px / var(--numOfBlocks)));
    display: inline-block;
    min-height: 160px;
    cursor: pointer;
}
.boardBlock {
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}
.boardBlockImg {
    display: block;
    width: 100%;
    object-fit: cover;
    background-color: var(--darkBG);
}
.buttonContainer {
    display: block;
    position: absolute;
    bottom: var(--buttonMargin);
    right: var(--buttonMargin);
}
.button {
    display: inline-block;
    background-color: var(--buttonBackground);
    border-radius: calc(var(--buttonSize) / 2);
    color: #f9f9f9;
    text-align: center;
    width: var(--buttonSize);
    height: var(--buttonSize);
    font-size: calc(var(--buttonSize));
    font-weight: 100;
    line-height: 0.9em;
    font-weight: 500;
    cursor: pointer;
}