.boardBlockContainer {
    background-color: var(--lightBG);
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
    width: 250px;
    display: inline-flex;
    min-height: 160px;
}
.boardBlock {
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}
.boardBlockImg {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    background-color: var(--darkBG);
}