/* Contains a handful of app-standard colors */

:root {
    /* COLORS */
    --veryLightBG: #4b4f54;
    --lightBG: #2e3033;
    --mainBG: #24262a;
    --darkerBG: #1c1f23;

    --largeText: #fafafa;
    --smallText: #ffffff;
    --deEmphasizedSmallText: #d2d2d3;
    --grayedOut: #929395;

    --selectorBackground: #393c3f;
    --buttonBackground: #286dc1;
    --tagBackground: #2f7056;

    --yellow: #ffd400;
    --blue: #1eaef8;
    --orangered: #ff2f6c;
    --red: #ff0000;
    --jade: #4aafa5;
    --beige: #d2c68d;
    --green: #4bbe5e;
    --gray: #c2c7cb;

    --popoverShadeOpacity: 0.4;

    /* STATIC SIZES */
    --panelPadding: 30px;
    --panelWidth: 300px;
    --panelIcon: 42px;
    --panelIconTitle: 24px;
    --panelIconBorderWeight: 2px;

    --chatIconDiameter: 30px;
    --chatMessagePadding: 10px;

    --taskCheckIconSize: 16px;
    --taskCheckIconOpacity: 0.6;

    --headerPadding: 15px;
    --headerHeight: 40px;

    --buttonSize: 50px;
    --buttonMargin: 20px;

    --popoverPadding: 20px;
    --popoverTopMargin: 20vh;
    --popoverWidth: 500px;
    --popoverFileThumbnail: 200px;
    --popoverButtonPadding: 10px;
    
    /* FONT SIZES */
    --projectHeaderFontSize: 20px;

    --panelHeading: 30px;
    --panelHeadingWeight: 500;
    --panelSubheading: 15px;

    --chatInputFontSize: 16px;

    --popoverHeading: 20px;

    --taskHeadingFontSize: 18px;
    --taskHeadingFontWeight: 700;
    --taskLineItemFontSize: 16px;
    --taskLineItemFontWeight: 400;

    --tagFontSize: 18px;
    --tagFontSizeSmall: 12px;

    --numOfBlocks: 6;
}
@media only screen and (max-width: 1000px)  {
    :root {
        --numOfBlocks: 4;
    }
}
@media only screen and (max-width: 700px)  {
    :root {
        --numOfBlocks: 3;
    }
}
@media only screen and (max-width: 400px)  {
    :root {
        --numOfBlocks: 2;
    }
}

/* Plaintext key:

Main BG: #24262a
Darker BG: #1c1f23
Light BG: #2e3033
Very Light BG: #4b4f54

Large Text: #fafafa
Small Text #ffffff
De-Emphasized Small Text: #d2d2d3
Grayed-Out: #929395

Selector Background (Gray): #393c3f
Button Background (Blue): #286dc1
Tag Background (Green): #2f7056

##Icon Colors
Yellow: #ffd400
Blue: #1eaef8
Orangered: #ff2f6c
Jade: #4aafa5
Beige: #d2c68d
Green: #4bbe5e
Gray: #c2c7cb

*/