.projectHeader {
    /* Sits at the top of the app, includes the project selector */
    position: relative;
    margin: 0;
    padding-left: var(--headerPadding);
    padding-top: var(--headerPadding);
    padding-right: var(--headerPadding);
    font-size: var(--projectHeaderFontSize);
    color: var(--deEmphasizedSmallText);
    font-weight: 500;
    line-height: var(--headerFont);
    background-color: var(--lightBG);
    max-height: var(--headerHeight);
    min-height: var(--headerHeight);
    text-align: center;
}
.projectHeaderText {
    display: inline-block;
    width: 400px;
    line-height: 1em;
    margin-left: 300px;
}
.projectGroupText {
    display: inline-block;
    width: auto;
    font-size: 14px;
    line-height: 1em;
    padding: 5px;
    border-radius: 5px;
    background: var(--selectorBackground);
    margin-left: 15px;
    position: relative;
    cursor: pointer;
    top: -1px;
    /* border: 1px solid var(--grayedOut); */
}
.projectHeaderButtons {
    display: inline-block;
    position: relative;
    float: right;
    text-align: right;
    width: 300px;
}
.projList {
    position: fixed;
    display: block;
    margin: auto;
    width: 300px;
    font-size: 14px;
    padding: 10px;
    background-color: var(--lightBG);
    z-index: 5;
}
.projItem {
    display: block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    background-color: var(--selectorBackground);
}
.projItemText {
    border: none;
    background-color: var(--selectorBackground);
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1em;
    text-align: center;
    margin-top: 5px;
    width: 290px;
    color: #ffffff;
}
.notificationCircle {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--orangered);
    right: -15px;
    bottom: 20px;
    border: 2px solid var(--lightBG);
}
.notificationBellContainer {
    position: inline-block;
    float: right;
}
.searchContainer {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1em;
    padding: 7px;
    background: var(--selectorBackground);
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}