.projectHeader {
    /* Sits at the top of the app, includes the project selector */
    position: relative;
    margin: 0;
    padding-left: var(--headerPadding);
    padding-top: var(--headerPadding);
    padding-right: var(--headerPadding);
    font-size: var(--projectHeaderFontSize);
    color: var(--deEmphasizedSmallText);
    font-weight: 500;
    line-height: var(--headerFont);
    background-color: var(--lightBG);
    max-height: var(--headerHeight);
    min-height: var(--headerHeight);
    overflow: hidden;
    text-align: center;
}
.projectHeaderText {
    display: inline-block;
    width: auto;
    line-height: 1em;
}
.projectGroupText {
    display: inline-block;
    width: auto;
    font-size: 14px;
    line-height: 1em;
    padding: 5px;
    border-radius: 5px;
    background: var(--selectorBackground);
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--grayedOut);
}
.projectHeaderButtons {
    display: inline-block;
    position: relative;
    float: right;
}