.popoverShade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, var(--popoverShadeOpacity));
    z-index: 20;
}
.popoverBoxContainer {
    position: relative;
    top: var(--popoverTopMargin);
    width: var(--popoverWidth);
    padding: var(--popoverPadding);
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBG);
}
.popoverBoxButton {
    display: block;
    background-color: var(--lightBG);
    padding: var(--popoverButtonPadding);
    margin-bottom: 3px;
    cursor: pointer;
    opacity: 0.8;
}
.popoverBoxButton:hover {
    opacity: 1;
}
.buttonDelete {
    background-color: var(--red);
    font-weight: 500;
}
.buttonConfirmationContainer {
    display: flex;
    justify-content: space-between;
    align-items: right;
}
.buttonConfirmation {
    font-weight: 500;
    padding: 10px;
    line-height: 1em;
    border-radius: 7px;
}
.bcRed {
    background-color: var(--red);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.bcGray {
    cursor: pointer;
    background-color: var(--lightBG);
}
.bcLabel {
    font-weight: 500;
    flex: 1;
}
.popoverBoxClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
}
.popoverFileThumbnailContainer {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.popoverFileThumbnail {
    display: block;
    width: var(--popoverFileThumbnail);
    height: var(--popoverFileThumbnail);
    object-fit: cover;
}
.popoverVersionContainer {
    display: block;
    font-size: 12px;
    width: var(--popoverFileThumbnail);
    border-bottom: 1px solid var(--veryLightBG);
    padding: 5px;
}
.popoverVersion {
    display: block;
    padding: 5px;
    cursor: pointer;
}
.popoverVersionDate {
    float: right;
    color: var(--lightText);
}

.popoverBoxContent {
    position: relative;
    right: 0;
    display: inline-block;
    margin-left: calc(var(--popoverPadding) - 5px);
    width: calc(100% - var(--popoverFileThumbnail) - var(--popoverPadding) * 2 + 5px);
}
.popoverBoxHeading {
    font-size: var(--popoverHeading);
    border: none;
    border-bottom: 1px solid var(--veryLightBG);
    color: #fff;
    background-color: var(--mainBG);  
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 85%;
}
.popoverBoxSubheading {
    font-size: var(--panelSubheading);
    margin-bottom: 15px;
}

.popoverBoxTags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
}
.popoverBoxTag {
    display: flex;
    font-size: var(--tagFontSizeSmall);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1em;
    text-transform: uppercase;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;
    border-radius: 4px;
    background-color: var(--tagBackground);
    cursor: pointer;
}
.popoverBoxNewTags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 5px;
    background-color: var(--lightBG);
}
.popoverBoxTagGray {
    background-color: var(--veryLightBG);
}