.panelTagsContainer {

}
.panelTagsTagContainer {
    display: inline-block;
    margin-right: 5px;
}
.panelTagsTagCore {
    font-size: var(--tagFontSize);
    line-height: 1em;
    font-weight: 500;
    padding: 8px;
    background-color: var(--tagBackground);
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}