.panelTasksContainer {
    display: block;
    position: relative;
}
.panelTasksList {
    background-color: var(--lightBG);
    padding: 12px;
    line-height: 1em;
    margin-bottom: 8px;
    cursor: pointer;
}
.panelTaskContainer {
    display: block;
    margin-top: 3px;
}
.panelTasksHeader {
    font-size: var(--taskHeadingFontSize);
    font-weight: var(--taskHeadingFontWeight);
    margin-bottom: 3px;
}
.panelTaskItem {
    display: inline-block;
    margin-left: 5px;
    margin-top: calc(var(--taskLineItemFontSize) / 2);
    font-size: var(--taskLineItemFontSize);
    font-weight: var(--taskLineItemFontWeight);
    color: var(--deEmphasizedSmallText);
}
.panelTaskCheckbox {
    width: var(--taskCheckIconSize);
    opacity: var(--taskCheckIconOpacity);
    position: relative;
    top: 2px;
}